!!! 5
title Pomotodo - the simple guide
link(rel="stylesheet",href="css/normalize.css",type="text/css")
link(rel="stylesheet",href="css/style.css",type="text/css")
link(rel="stylesheet",href="http://fonts.googleapis.com/css?family=Chelsea+Market",type="text/css")
.english
  .scrollblock.block-title
    h1 Pomotodo - the simple guide
    p just a simple guide for getting started with Pomotodo.
    p.meta
      a(href='index.en.html') English
      | ,
      a(href='index.html') 中文
    img(src='img/arrow.png', alt='')
  a(name='setup')
  .scrollblock.block-setup
    h2 setup
    p
      span
        a(href='https://pomotodo.com') for Web
      span
        a(href='http://mac-beta.pomotodo.com/en') for OSX
      span
        a(href='http://win-beta.pomotodo.com/en') for Windows
    p
      span
        a(href='https://play.google.com/store/apps/details?id=com.pomotodo') for Android
      span
        a(href='https://itunes.apple.com/app/id866339080') for iOS 
  a(name='todo')
  .scrollblock.block-todo
    h2 add your first todo
    p
      | Open Pomotodo, type your task, like：
      br
      code #Pomotodo simple guide
      br
      | Enter
      br
      | You can continue to add, put tasks within the next couple of days in the list of todos.
  a(name='pickup')
  .scrollblock.block-pickup
    h2 pickup todo
    p
      | Drag up or down to change the order of todos,put the important and urgent tasks on top
      br
      img(src='img/pickup.png', alt='')
      br
      | Pick one or two todo you are ready to complete, put them to use "Pin" icon to pin up
      br
  a(name='pomo')
  .scrollblock.block-pomo
    h2 Start Pomodoro
    p
      | "Start Pomodoro" means: 
      br
      | in the next 25 minutes you have to focus on the Pomodoro
      br
      | Take a deep breath,
      br
      | click：
      code Start Pomodoro
      | ，Pomodoro timer will start 
      code 24：59
      br
      | When the Pomodoro complete, it will remind you to record just completed work, pinned todos will autocomplete
      br
      img(src='img/pomo.png', alt='')
  a(name='rest')
  .scrollblock.block-rest
    h2 rest
    p
      | Regular breaks is an important part of pomodoro
      br
      | When the Pomodoro complete, Will begin a 
      code 5：00
      |  rest countdown.
      br
      | use this time, stand up and walk, get a cup of coffee, look out the window.
  a(name='review')
  .scrollblock.block-review
    h2 review
    p
      | Occasionally review their work will help to further improve work efficiency.
      br
      | Click：
      code Statistics
      |  or 
      code Pomo History
      |  on the page 
      br
      | You can get your work overview of a period of time
      br
      img(src='img/statistics.png', alt='')
  a(name='hints')
  .scrollblock.block-hints
    h2 useful hints
    p
      | Add
      code !
      | at the end of todo make it infected with color.
      br
      code #Pomotodo I'm a very important potato !!
      br
      | Click
      code #TAG
      | on todo list you can filter out the same tag marked todos
      br
      |  Keyboard type  
      code ?
      |  get the Keyboard shortcuts
      br
      img(src='img/shortcuts.png', alt='')
  a(name='links')
  .scrollblock.block-links
    h2 links
    p
    ul
      li
        a(href='https://www.facebook.com/pomotodo ') Facebook Page
      li
        a(href='https://twitter.com/pomotodo') Twitter
      li
        a(href='http://translate.pomotodo.com') Translate Pomotodo
      li
        a(href='http://help.pomotodo.com/#!/') Pomotodo Help Center
    p
.footer
  p
    | Created by 
    a(href='http://weibo.com/itsming') @sunoj. 
    | Based on 
    a(href='https://github.com/rogerdudler/git-guide') git-guide
    |  by 
    a(href='https://twitter.com/rogerdudler') @rogerdudler